@use "../abstracts//mixin" as *;
.card {
 width: 100%;
height: max-content;
    &_container{
        position: relative;
        width: 300px;
        height: 360px;
        background-color:rgba(128, 100, 100, 0.062); ;
        text-align: center;
        transition: 1s;
        padding: 1rem;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            .card_img img {
                transform: scale(1.06);
                transition:
                    opacity 0.5s ease,
                    transform 2s cubic-bezier(0, 0, 0.44, 1.18);
            }
            .card_container_icons {
                display: flex;
                transition:
                    opacity 2s ease,
                    transform 2s cubic-bezier(0, 0, 0.44, 1.18);
            }
            box-shadow:
                rgba(0, 0, 0, 0.07) 0px 1px 2px,
                rgba(0, 0, 0, 0.07) 0px 2px 4px,
                rgba(0, 0, 0, 0.07) 0px 4px 8px,
                rgba(0, 0, 0, 0.07) 0px 8px 16px;
        }

        &_icons {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            top: 5%;
            color:var(--clr-primary);
            left: 6%;
            display: none;
            // z-index: 99999;
            transition:
                opacity 0.5s ease,
                transform 2s cubic-bezier(0, 0, 0.44, 1.18);
            &_item {
                font-size:clamp(.6rem, 4vw,1.2rem);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:nth-child(1){
                    background-color:#0d0d2b;
                    &:hover{
                        background-color: rgb(107, 12, 12);

                    }
                }
                &:hover {
                    color: white;
                }
                @include mq(sm,max){
                    width: 20px;
                    height: 20px;
                }
                @include mq(md,max){
                    width: 35px;
                    height:35px;
                }
            }
        }
    }
    @include mq(lg, max) {
        width:100%;
    }
    @include mq(md,max){
        width: 48%;
    }
    @include mq(sm,max){
        width: 48%;
        height: max-content;
    }
    &_img {
        width: 100%;
        height: 240px;
        overflow-clip-margin: content-box;
        overflow: clip;
        transition: 1s;
        background-color: white;
        @include mq(sm,max) {
            width: 100%;
            height: max-content;
        }
        & img {
            max-width: 100%;
            transition:
                opacity 0.5s ease,
                transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        }
    }
    &_info {
        margin-top: 1rem;
        gap: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &_title {
            text-align: left !important;
            font-size: clamp(.5rem,5vw, .8rem);
            height: 20px;
            color: rgb(63, 20, 4);
        }
        &_price {
            margin-top: 1rem;
            font-size: clamp(0.8rem, 5vw, 1.2rem);
            padding-bottom: .5rem;
            color: rgb(63, 20, 4);
        }
    }
    &:hover {
        .card_img img {
            transform: scale(1.06);
            transition:
                opacity 0.5s ease,
                transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        }
        .card_img_icons {
            display: flex;
            transition:
                opacity 2s ease,
                transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        }
        box-shadow:
            rgba(0, 0, 0, 0.07) 0px 1px 2px,
            rgba(0, 0, 0, 0.07) 0px 2px 4px,
            rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px,
            rgba(0, 0, 0, 0.07) 0px 16px 32px,
            rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
}
