@use "../abstracts/mixin" as *;
.scrollTop_item{
    width: 120px;
    position: fixed;
    right: -32px;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    transform: rotate(180deg);
    z-index: 1;
    // display: none;
   cursor: pointer;

    @include mq (lg,max){
        right: -20px;
        width: 100px;
        bottom:0px ;
    }
}