@use "../abstracts/mixin" as *;
.scrollTop_item{
    position: fixed;
    right: 5px;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: max-content;    cursor: pointer;
    font-size: clamp(2rem, 5vw, 3rem);
    color:rgba(67, 62, 146, 0.877);
    @include mq (lg,max){
        display: none;
    }
}