@use "../abstracts//mixin" as *;
.swiper {
    width: 100%;
    height: min-content;
    overflow:initial;
    overflow-x: clip !important;
  }
  .horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal    {
    bottom: -20px;
  }
  .swiper-slide {
    width: 200px;
  }
  
  .swiper-slide .card{
    width: 100%;
    
  }
  
  .swiper-slide .card .card_img{
    height: 240px;
    @include mq(md,max){
        height: 160px;
        padding: .2rem;
    }
  }
  .swiper-slide .card .card_info h3{
    font-size: .8rem;
  }
    .swiper-slide .card{
&_info{
    padding-bottom: 1.5rem;
}
  }