@use "../abstracts//mixin" as *;
.swiper {
    width: 100%;
    padding-bottom: 1rem;
    overflow:initial;
    overflow-x: clip !important;
  }
  .horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal    {
    bottom: -20px;
  }
  .swiper-slide {
    width: 200px;
    height: max-content;
  }
  
  .swiper-slide .card_container{
    width: 100%;
    height: max-content;
  }
  
  .swiper-slide .card_container .card_img{
    height: 200px;
    max-width: 200px;
    @include mq(lg,max){
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem;
    }
    @include mq(md,max){
        height: 250px;
        padding: .2rem;
    }
    @include mq(sm,max){
      height: 150px;
    }
  }
  .swiper-slide .card_container .card_info h3{
    font-size: .8rem;
  }
  .swiper-slide .card_container .card_info {
  padding-bottom: 1.3rem;
}