@use '../abstracts/mixin' as *;
.deal_products{
    margin-top: 6rem;
    width: 100%;
    height: min-content;
    &_wrapper{
        display:flex;
        justify-content: center;
        gap:.5rem;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    &_title{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    &_item{
        width:400px;
        height: min-content;
        background-color: hsl(206, 26%, 95%);
        position: relative;
        @include mq(xl,max){
            width: 30%;
        }
        @include mq(lg,max){
            width: 80%;
        }
        @include mq(md, max){
            width: 100%;
        }
        &_img{
            width: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq(xl,max){
                width: 100%;
            }   
            @include mq(md, max){
                width: 100%;
            }
            @include mq(lg,max){
                width: 80%;
            }
            & img{
                max-width: 100%;
            }
        }
        &_info{
            margin-bottom: 1rem;
            margin-left: 2rem;
            &_title{
                margin-bottom: 1.5rem;
            }
            &_discount{
                font-size: 1.1rem;
            }
        }
        &_button{
            position: absolute;
            right: 70px;
            bottom: 5px;
            opacity: 0;
            transition-duration: .4s;
            cursor: pointer;
            &_item{
                font-size: 3rem;
                color: rgb(42, 64, 85);
            }

        }
        &:hover{
           .deal_products_item_button{
            opacity: 1;
            right: 20px;
            transition-delay: .4s;
           }
        }
    }
}