.product_filters{
    padding: 4rem 2rem;
    width: 100%;
    background-color: #F3FAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5rem;
    &_item{
        width: 141px;
        height:242px;
        padding: 45px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: white;
            cursor: pointer;
        }
        &_img{
            width: 100%;
            padding: 16px;
            img{
                max-width: 100%;
            }
        }
        &_info_title{
            font-size: 1rem;
            text-align: center;
        }
    }
}