.signIn {
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    flex-direction: column;
    &_animation{
        max-width: 450px;
        height: max-content;
    }
    &_buttons{
        width: 30%;
    }
    &_info{
        margin: .5rem 0;
        font-weight: bold;
        width: 250px;
        text-align: center;
        font-size: clamp(.8rem,5vw,1.1rem);
    }
}
.sign {
    padding: 1rem;
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
    transition: 0.5s all;
    border: none;
border-radius: 5px;
    &:hover {
        background-color: rgb(53, 53, 53);
        transition: 0.5s all;
    }
}
