@use "../../abstracts//mixin" as *;
.wishlistPage {
    width: 100%;
    height: max-content;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        226.69deg,
        #edf6fa8c 38.63%,
        #f9e0b014 82.88%
    );
}
.wishlist {
    border-radius: 5px;
    margin: 5rem 0rem;
    width: 80%;
    background-color: white;
    height: min-content;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    @include mq(lg, max) {
        max-width: 90%;
    }
a{
width: max-content;
}
    &_info {
        display: flex;
        width: 100%;
        gap: 6rem;
        padding: 20px 30px;
        font-size: 1.1rem;
        border-bottom: 1px solid rgb(175, 175, 175);
        &_title {
            margin-left: 0.7rem;
        }
    }
    &_item {
        display: flex;
        height: min-content;
        align-items: center;
        @include mq(md, max) {
            flex-direction: column;
            .button {
                width: 80%;
                margin: 0 auto;
            }
        }
        padding: 20px 0px;
        width: 100%;
        align-items: center;
        font-size: 1.2rem;
        gap: 1rem;
        justify-content: space-between;
        border-bottom: 1px solid rgb(175, 175, 175);
        &:last-child {
            border-bottom: none;
        }
        &_remove {
            font-size: 2.5rem;
            cursor: pointer;
            margin-top: 1rem;
        }
        &_about {
            display: flex;
            padding: 10px 0px;
            width: 100%;
            align-items: center;
            &_img {
                width: 102px;
                height: 80px;
                margin-right: 5rem;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & p {
                margin-right: 4rem;
            }
        }
    }
}
.emptyWish{
    margin: 0 auto;
    background-color: transparent;
}
